.card {
  position: absolute;
  width: 10%;
  aspect-ratio: 5 / 7;
  border-radius: 6.6%;
  font-size: 1vw;
  font-family: sans-serif;
  background-color: seashell;
  box-sizing: border-box;
  padding: 0.2em;
  border: solid gray;
  border-width: 0.2vw;
  top: 1vw;
  transition: top 0.1s ease;
}

.black {
  color: black;
}

.red {
  color: red;
}

.card:first-line {
  font-size: 1.7vw;
}

.selectable:hover {
  border-color: blue;
  top: 0.7vw;
}

.selected {
  top: -0.2vw;
  border-color: black;
}

.selected:hover {
  top: -0.4vw;
  border-color: blue;
}

.back {
  background-color: red;
  color: seashell;
  position: absolute;
  height: calc(100% - 1.32vw);
  width: calc(100% - 1.32vw);
  text-align: center;
}

.back>span {
  font-size: 6vw;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: -3.5vw;

}
